<!DOCTYPE html>
<html>
<head>
	<title>ejs</title>
	<style>
		body{
			margin: 0 auto;
			text-align: center;
		}
	</style>
</head>
<body>
	<h1><%= name.toUpperCase() %></h1>
	<p>hello i am <%= name %></p>
</body>
</html>